{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <section>
        Секция 1
    </section>
    <section>
        Секция 2
    </section>
    <section>
        Секция 3
    </section>
    <section>
        Секция 4
    </section>
    <section>
        Секция 5
    </section>
    <section>
        Секция 6
    </section>

    <button id="buttonScroll">
        <img src="/svg/scroll__top.svg">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}